.nav-header{
    @apply fixed w-full top-0 left-0 shadow-sm shadow-indigo-500/40 dark:shadow-gray-400/50 z-50  transition-all ease-in-out delay-75 bg-inherit;
  }
  
.nav-header>.navbar{
    @apply  flex justify-between items-center h-12 relative ;
}
  
.nav-header>.navbar .nav__logo{
    @apply  text-gray-600 dark:text-gray-300 dark:hover:text-gray-100 text-lg hover:text-blue-700 transition ease-in-out delay-300 cursor-pointer tracking-wide;
}
  
.nav-header>.navbar .nav__btn{
    @apply sm:visible md:invisible;
}
  
.nav-header>.navbar .hide-menu{
    @apply sm:invisible md:visible;
}   
  
.nav-header>.navbar .nav__menu{
    @apply sm:absolute sm:top-12 sm:-right-8 md:relative flex transition ease-in-out delay-300 sm:bg-slate-200;
    @apply md:flex-row sm:flex-col sm:w-9/12 md:justify-end md:top-0 md:bg-inherit; 
}
  
.nav-header>.navbar .nav__menu>.nav__item{
    @apply m-0 md:py-0 sm:py-4 sm:pl-4 md:pl-12 md:hover:bg-transparent sm:hover:bg-gray-300;
}
  
.nav-header>.navbar .nav__menu>.nav__item>.nav__link{
    @apply md:relative md:tracking-wide md:block md:truncate text-sm text-gray-600 dark:text-gray-400; 
    @apply sm:tracking-wide sm:flex sm:flex-row sm:items-center sm:justify-start sm:gap-6;
}


.nav-header>.navbar .nav__menu>.nav__item>.nav__link .nav_icon{
    @apply text-neutral-300 dark:text-neutral-700 md:hidden;
}